/* * {
  background-color: pink;
} */

body {
  background-color: #d8e2dc;
}

button {
  font-size: 20px;
  background-color: #ffe5ec;
}

h1,
h2 {
  color: #10002b;
}

#signup {
  color: #fff0f3;
  background-color: #3c096c;
}

span {
  color: #800f2f;
}

.tags {
  background-color: #ffd500;
  font-size: 15px;
}

.posts a {
  color: #800f2f;
}

footer a {
  color: #ffd500;
}

h2 + button {
  font-size: 20px;
  background-color: magenta;
}

footer > a {
  color: darkgreen;
}

input[type="password"] {
  color: darkred;
}

.posts button:hover {
  background-color: red;
  color: white;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

.posts button:active {
  background-color: indigo;
}

.posts:nth-of-type(3n) {
  background-color: #b5c0b9;
}

h2::first-letter {
  font-size: 40px;
  color: darkgreen;
}

p::first-line {
  color: darkcyan;
}

p::selection {
  color: yellowgreen;
}

button:hover {
  background-color: salmon;
  font-size: 10px;
}
