h1 {
  text-align: center;
  font-weight: 400;
  text-decoration: #ff2345 underline wavy;
  letter-spacing: 10px;
  font-size: 80px;
  font-family: Arial, Times, sans-serif;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}
