h1 {
  color: indigo;
}
h2 {
  color: green;
  background-color: rgb(255, 194, 194);
}
button {
  color: white;
  background-color: black;
}

p {
  color: midnightblue;
  background: #769bb0;
}

body {
  background-color: #8a8a8a;
}
