section {
  background-color: #006d77;
  width: 800px;
  height: 800px;
}

div {
  background-color: #83c5be;
  width: 50%;
  height: 50%;
}

h1 {
  font-size: 50px;
  border: 2px solid black;
  line-height: 200%;
}

article {
  font-size: 30px;
}

h2 {
  font-size: 2em;
  margin-left: 1em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 0.5em;
}

button {
  font-size: 1em;
  padding: 0.2em 1em;
  border-radius: 0.5em;
  background-color: #004b23;
  color: white;
}

ul {
  font-size: 1.5em;
}

#rems h2 {
  font-size: 3rem;
}
#rems h3 {
  font-size: 2rem;
}
#rems ul {
  font-size: 1.5rem;
}
