section {
  width: 800px;
  height: 800px;
  background-color: blue;
}

#rgba {
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

#opacity {
  width: 50%;
  height: 50%;
  background-color: lightslategray;
  opacity: 0.6;
}
