h1 {
  background-color: #7f9183;
  border: 2px solid black;
  /* display: inline; */
  width: 300px;
  padding: 50px;
  margin: 100px;
}

span {
  background-color: #f7b801;
  border: 2px solid black;
  /* display: block; */
  width: 200px;
  padding: 50px;
  margin: 100px;
}

div {
  background-color: #7678ed;
  width: 150px;
  height: 150px;
  border: 4px solid #3d348b;
  display: inline-block;
  margin: 50px;
}
